/* PHASE 12: Modal */

.modal {
    display: none;
}

.is-open{
    display: block;
}

.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}


.modal-form {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -220px;
    border: 1px solid black;
    z-index: 3;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 360px;

    /* height: 300px;
    width: 150px */
    

}

.modal-form span {
    position: relative;
    left: 97%;
    top: 0%;
    font-size: 30px;
    z-index: 3;
    cursor: pointer;
}

.js-modal-close:hover {
    color: red;
}

.modal h1 {
    position: relative;
    font-size: 35px;
    left: 0%;
    margin-top: -30px;
    
}


#cancel {
    background-color: white;
    color: black;
    box-shadow: none;
    padding-left: 5px;
}

#cancel:hover {
    color: red;
}

#sign-in {
    margin-right: 5px;
}