
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    border: 5px solid red;
    width: min-content;
    padding-inline-start: 0px;
    margin: auto;
}



.tile{
    background-color: lightgrey;
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    border-style: outset;
    font-weight: bold;
    text-align: center;

}

.explored {
    border-style: inset;
    background-color: rgb(193, 226, 185);
}

.bombed {
    border-style: inset;
    background-color: red;
}

.flagged {
    background-color: gold;
}

